extends _layout

include mixins/activities
include mixins/facilities
include mixins/photos

block css
  link(rel='stylesheet', href='/css/listing.min.css')

block js
  script(type='text/javascript', src='/js/listing.js')

block content
  section.banner
    div
      a.provider(href='/listings/' + listing._id)
        span.logo(style='background-image:url(/content/' + listing.logo.fileType + '/' + listing.logo.fileId + ');')
        span= listing.name
      a.edit(href='/activities/' + activity._id + '/edit') Edit
  section.listing-section.overview.activity.white
    div
      div.photo
      - var locationAddress = 'https://google.com/maps/place/' + encodeURIComponent(activity.address)
      a.location(target='_blank', href=locationAddress)
        span.fa.fa-map-marker
        span= activity.address
    div
      h1= activity.name
      != marked(activity.description)
    div
      span.rating
        label Rating Type 
        span.stars
          span.fa.fa-star.color
          span.fa.fa-star.color
          span.fa.fa-star.color
          span.fa.fa-star.color
          span.fa.fa-star
      a.add
      a.message
      a.share
  section.space-fixer
  section.space-fixer
  if activity.photos && activity.photos.length
    +photos(activity.photos).alternating
  if activity.tags && activity.tags.length
    +activities(activity.tags).blue
  - var facilities = []
  - if (activity.facilities && activity.facilities.children) facilities.push('Child Friendly')
  - if (activity.facilities && activity.facilities.dogs) facilities.push('Dog Friendly')
  - if (activity.facilities && activity.facilities.wheelchair) facilities.push('Wheelchair Friendly')
  - if (activity.facilities && activity.facilities.picnic) facilities.push('Picnic Facilities')
  if facilities.length
    +facilities(facilities).alternating
  - var hasPrice = activity.prices.free || activity.prices.child || activity.prices.adult || activity.prices.pensioner
  if hasPrice
    section.listing-section.prices.alternating
      div
        h1 Prices
        if activity.prices.child
          div.price
            label Kids Price
            span= 'from ' + activity.prices.child
        if activity.prices.adult
          div.price
            label Adult Price
            span= 'from ' + activity.prices.adult
        if activity.prices.pensioner
          div.price
            label Pensioner Price
            span= 'from ' + activity.prices.pensioner
        if activity.prices.free
          div.price
            label Price
            span free
  section.listing-section.find-more.alternating
    div
      h1 Still bored? Find more activities like this.
      a.find.button(href='/search') Find