extends _layout

block css
  link(rel='stylesheet', href='/css/category_listings.min.css')

block content
  section.banner
    header.banner-image.home
    .cover
    div
      h2 Uh-oh
      h1 Something went wrong
  section.body.error
    div
      h1 #{error.status}: #{message}
      if error.stack
        pre #{error.stack}
      .no-more-data
        h1 Would you like to explore any of the following categories?
        .recommendations.wide
          each category in req.listing_categories
            a(href='/categories/' + category.urlCategory + '/', class=category.urlCategory)
              span= category.category 