extends _layout

include mixins/activities
include mixins/facilities
include mixins/photos

block css
  link(rel='stylesheet', href='/css/listing.min.css')
  link(rel='stylesheet', href='/css/listing_edit.min.css')

block js
  script(type='text/javascript', src='/js/listing.js')
  script(type='text/javascript', src='/js/editing.js')

block content
  section.banner
  section.listing-section.overview
    div.contact-info
      - var logo = listing.logo ? 'background-image:url(/content/' + listing.logo.fileType + '/' + listing.logo.fileId + ');' : null
      div.logo(style=logo)      
      a.location
        span.fa.fa-map-marker
        input#listing-address.content-editable(type='text', value=listing.address, placeholder='Address')
      a.telephone
        span.fa.fa-phone
        - var telephone = listing.telephone || listing.cellphone
        input#listing-telephone.content-editable(type='text', value=listing.telephone, placeholder='Telephone Number')
      a.email
        span.fa.fa-envelope
        input#listing-email.content-editable(type='text', value=listing.email, placeholder='Email Address')
      a.website
        input#listing-website.content-editable(type='text', value=listing.website, placeholder='Website')
      div.social
        - var socialFacebook = listing.social.facebook ? (listing.social.facebook.indexOf('http') >= 0 ? listing.social.facebook : 'https://' + listing.social.facebook) : null
        a.facebook.fa.fa-facebook(title='Facebook', target=(socialFacebook ? '_blank' : false), href=(socialFacebook ? socialFacebook : false))
        - var socialTwitter = listing.social.twitter ? (listing.social.twitter.indexOf('http') >= 0 ? listing.social.twitter : 'https://' + listing.social.twitter) : null
        a.twitter.fa.fa-twitter(title='Twitter', target=(socialTwitter ? '_blank' : false), href=(socialTwitter ? socialTwitter : false))
        - var socialGoogle = listing.social.google ? (listing.social.google.indexOf('http') >= 0 ? listing.social.google : 'https://' + listing.social.google) : null
        a.google.fa.fa-google-plus(title='Google+', target=(socialGoogle ? '_blank' : false), href=(socialGoogle ? socialGoogle : false))
        - var socialInstagram = listing.social.instagram ? (listing.social.instagram.indexOf('http') >= 0 ? listing.social.instagram : 'https://' + listing.social.instagram) : null
        a.instagram.fa.fa-instagram(title='Instagram', target=(socialInstagram ? '_blank' : false), href=(socialInstagram ? socialInstagram : false))
        - var socialPinterest = listing.social.pinterest ? (listing.social.pinterest.indexOf('http') >= 0 ? listing.social.pinterest : 'https://' + listing.social.pinterest) : null
        a.pinterest.fa.fa-pinterest-p(title='Pinterest', target=(socialPinterest ? '_blank' : false), href=(socialPinterest ? socialPinterest : false))
        - var socialYoutube = listing.social.youtube ? (listing.social.youtube.indexOf('http') >= 0 ? listing.social.youtube : 'https://' + listing.social.youtube) : null
        a.youtube.fa.fa-youtube-play(title='Youtube', target=(socialYutube ? '_blank' : false), href=(socialYutube ? socialYutube : false))
    div
      input#listing-name.content-editable(type='text', value=listing.name, placeholder='Listing Name')
      textarea#listing-description.content-editable(placeholder='Description')
        =listing.description
    div
  +activities([], true).blue
  +facilities(facilities, true).alternating
  +photos(listing.photos, true).alternating
  section.listing-section.activities.alternating
    div
      h1 Our Activities
      div
        each activity, index in activities
          a.activity(href='/activities/' + activity._id)
            div.photo
            h2= activity.name
            - var desc = activity.description.length > 100 ? activity.description.substring(0, 100) : activity.description
            p= desc
            span.read-more.button.inverse(href='/activities/' + activity._id) Read More
  section.listing-section.lower.white
    div
      a.report.button.grey(href='/report-listing') Report Listing