extends _layout

include mixins/activities
include mixins/facilities
include mixins/photos
include mixins/listing_card
include mixins/listing_reviews

block css
  link(rel='stylesheet', href='/css/listing.min.css')

block js
  script(type='text/javascript', src='/js/listing.js')

block content
  - var hasEditPermission = authentication && authentication.isAuthenticated && authentication.user.permissions && authentication.user.permissions.editListing;
  - var isClaimant = authentication && authentication.isAuthenticated && listing.claim && listing.claim.user && listing.claim.user._id.toString() === authentication.user._id.toString();
  - var canEdit = hasEditPermission || isClaimant;

  if canEdit
    div.toolbar
      div
        a.edit(href='/listings/' + listing._id + '/edit') Edit
          i.fa.fa-edit
        if authentication.user.permissions && authentication.user.permissions.deleteListing
          a.delete.listing(href='/listings/' + listing._id + '/delete') Delete
            i.fa.fa-trash

  input#record-id(type='hidden', value=listing._id)
  - var banner = (listing.customBanner && 'background-image:url(' + listing.customBanner + ')') || (listing.banner && 'background-image:url(/images/banners/' + listing.banner + ')') || ''
  section.banner(style=banner)
  section.listing-section.overview
    div
      - var logo = listing.logo ? 'background-image:url(/content/' + listing.logo.fileType + '/' + listing.logo.fileId + ');' : null
      - var logoClass = !listing.logo ? 'no-logo' : ''
      div.logo(style=logo, class=logoClass)
      a.location(target='_blank', href='https://google.com/maps/search/' + encodeURIComponent(listing.address))
        span.fa.fa-map-marker
        span= listing.address

      if listing.telephone
        a.telephone(target='_blank', href='tel:' + listing.telephone)
          span.fa.fa-phone
          span= listing.telephone

      if listing.cellphone
        a.cellphone(target='_blank', href='tel:' + listing.cellphone)
          span.fa.fa-mobile
          span= listing.cellphone

      a.email(target='_blank', href='mailto:' + listing.email, title=listing.email)
        span.fa.fa-envelope
        span= listing.email
      - var website = listing.website && listing.website.indexOf('http') >= 0 ? listing.website : 'http://' + listing.website
      a.website(target='_blank', href=website, title=listing.website)= listing.website

      - var getLink = l => l ? (l.indexOf('http') >= 0 ? l : 'https://' + l) : null;
      - var socialFacebook = getLink(listing.social.facebook);
      - var socialTwitter = getLink(listing.social.twitter);
      - var socialGoogle = getLink(listing.social.google);
      - var socialInstagram = getLink(listing.social.instagram);
      - var socialPinterest = getLink(listing.social.pinterest);
      - var socialYoutube = getLink(listing.social.youtube);

      if socialFacebook || socialTwitter || socialGoogle || socialInstagram || socialPinterest || socialYoutube
        div.social
          if socialFacebook
            a.facebook.fab.fa-facebook-f(title='Facebook', target=(socialFacebook ? '_blank' : false), href=(socialFacebook ? socialFacebook : false))
          if socialTwitter
            a.twitter.fab.fa-twitter(title='Twitter', target=(socialTwitter ? '_blank' : false), href=(socialTwitter ? socialTwitter : false))
          if socialGoogle
            a.google.fab.fa-google(title='Google+', target=(socialGoogle ? '_blank' : false), href=(socialGoogle ? socialGoogle : false))
          if socialInstagram
            a.instagram.fab.fa-instagram(title='Instagram', target=(socialInstagram ? '_blank' : false), href=(socialInstagram ? socialInstagram : false))
          if socialPinterest
            a.pinterest.fab.fa-pinterest-p(title='Pinterest', target=(socialPinterest ? '_blank' : false), href=(socialPinterest ? socialPinterest : false))
          if socialYoutube
            a.youtube.fab.fa-youtube(title='Youtube', target=(socialYoutube ? '_blank' : false), href=(socialYoutube ? socialYoutube : false))
    div
      h1= listing.name
      != marked(listing.description)
    div
      span.rating
        label=`${ratings.count} rating${ratings.count === 1 ? "" : "s"}`
        span.review-stars(data-rating=ratings.rating)
          a.fa.fa-star(href='rate/1', data-id=listing._id, data-rating=1, class=ratings.rating >= 1 ? "color" : "")
          a.fa.fa-star(href='rate/2', data-id=listing._id, data-rating=2, class=ratings.rating >= 2 ? "color" : "")
          a.fa.fa-star(href='rate/3', data-id=listing._id, data-rating=3, class=ratings.rating >= 3 ? "color" : "")
          a.fa.fa-star(href='rate/4', data-id=listing._id, data-rating=4, class=ratings.rating >= 4 ? "color" : "")
          a.fa.fa-star(href='rate/5', data-id=listing._id, data-rating=5, class=ratings.rating >= 5 ? "color" : "")
      -var isClaimed = listing.claim && listing.claim.status === "verified" ? true : false;
      -var isBeingVerified = listing.claim && listing.claim.status === "initiated" && moment(listing.claim.expiresOn) > moment();
      -var statusIcon = isClaimed ? "fa-thumbs-up" : (isBeingVerified ? "fa-hourglass-half" : "fa-hand-point-up");
      span.claimed(class=!isClaimed && "not-yet")
        span.fa(class=statusIcon)
        span=!isClaimed ? (isBeingVerified ? "Being Verified" : "Unclaimed") : "Claimed"

      if !isClaimed && !isBeingVerified && authentication && authentication.isAuthenticated
        a.claim-listing.button.round(href=`/listings/${listing._id}/claim`, data-listing_id=listing._id) Claim Now!

  +listing_reviews(latestReviews, ratings)
  
  +activities(listing.tags, false, listing._id).blue

  +facilities(listing.facilities).alternating

  +photos(listing.photos).alternating

  //-if activities && activities.length
    section.listing-section.activities.alternating
      div
        h1 Our Experiences
        div
          each activity, index in activities
            a.activity(href='/activities/' + activity._id)
              div.photo
              h2= activity.name
              - var desc = activity.description.length > 100 ? activity.description.substring(0, 100) : activity.description
              p= desc
              span.read-more.button.inverse(href='/activities/' + activity._id) Read More

  if related && related.length
    section.listing-section.related.alternating
      div
        h1 Check These Out As Well
        div
          each listing in related
            +listing_card(listing, ' from listing')

  //-section.listing-section.events
      div.calendar
      div.agenda
        div
          h1
            span.day 04
            span.month July
          ul.activities
            li
              span.fa.fa-dot-circle-o
              h2 Stand Up Paddle Boarding
              ul
                li 2:30pm - 4:30pm
                li 2hr
            li
              span.fa.fa-dot-circle-o
              h2 Marsh Kayak Tour
              ul
                li N/A
            li
              span.fa.fa-dot-circle-o
              h2 Private Boat Tours
              ul
                li 6:30pm - 8:30/9:00pm
                li 2-2.5hr Group Trips (non-private)
  section.listing-section.lower.alternating
    div
      a.report.button.round.grey(href='/report-listing') Report Listing