extends _layout

include mixins/activities
include mixins/facilities
include mixins/photo_upload
include mixins/photos

block css
  link(rel='stylesheet', href='/css/listing.min.css')
  link(rel='stylesheet', href='/css/content_management.min.css')
  link(rel='stylesheet', href='/css/editing.min.css')
  link(rel='stylesheet', href='/css/listing_edit.min.css')

block js
  script(type='text/javascript', src='/js/listing.js')
  script(type='text/javascript', src='/js/editing.js')

block content
  div.toolbar
    div
      a.cancel(href='/listings/' + listing._id) Cancel
        i.fa.fa-times
      a#post-listing.edit(href='update') Update Listing
        i.fa.fa-check
  input#listing-id(type='hidden', value=listing._id)
  - var banner = (listing.customBanner && 'background-image:url(' + listing.customBanner + ')') || (listing.banner && 'background-image:url(/images/banners/' + listing.banner + ')') || ''
  section.banner(style=banner, data-banner=listing.banner)
    a.edit-banner
      i.fa.fa-image
  section.listing-section.overview
    div.contact-info
      +photoUpload(listing.logo)(data-url='/content/upload', data-allow-change='true').logo
      a.location
        span.fa.fa-map-marker
        input#listing-address.content-editable(type='text', value=listing.address, placeholder='Address')
      a.telephone
        span.fa.fa-phone
        input#listing-telephone.content-editable(type='text', value=listing.telephone, placeholder='Telephone Number')
      a.cellphone
        span.fa.fa-mobile
        input#listing-cellphone.content-editable(type='text', value=listing.cellphone, placeholder='Cellphone Number')
      a.email
        span.fa.fa-envelope
        input#listing-email.content-editable(type='text', value=listing.email, placeholder='Email Address')
      a.website
        span.fa.fa-globe
        input#listing-website.content-editable(type='text', value=listing.website, placeholder='Website')
      a.facebook
        span.fa.fa-facebook
        input#listing-facebook.content-editable(type='text', value=listing.social.facebook, placeholder='Facebook')
      a.twitter
        span.fa.fa-twitter
        input#listing-twitter.content-editable(type='text', value=listing.social.twitter, placeholder='Twitter')
      a.google-plus
        span.fa.fa-google-plus
        input#listing-google.content-editable(type='text', value=listing.social.google, placeholder='Google+')
      a.instagram
        span.fa.fa-instagram
        input#listing-instagram.content-editable(type='text', value=listing.social.instagram, placeholder='Instagram')
      a.pinterest
        span.fa.fa-pinterest-p
        input#listing-pinterest.content-editable(type='text', value=listing.social.pinterest, placeholder='Pinterest')
      a.youtube
        span.fa.fa-youtube-play
        input#listing-youtube.content-editable(type='text', value=listing.social.youtube, placeholder='YouTube')
    div
      input#listing-name.content-editable(type='text', value=listing.name, placeholder='Listing Name')
      textarea#listing-description.content-editable(placeholder='Description')
        =listing.description
    div
  +activities(listing.tags, true).blue
  +facilities(facilities, true).alternating
  +photos(listing.photos, true).alternating.add-photos
  section.listing-section.activities.alternating
    div
      h1 Our Experiences
      div
        each activity, index in activities
          a.activity(href='/activities/' + activity._id)
            div.photo
            h2= activity.name
            - var desc = activity.description.length > 100 ? activity.description.substring(0, 100) + '...' : activity.description
            p= desc
            span.read-more.button.inverse Read More
        a.activity.new(href='/activities/add?listing=' + listing._id)
          div.photo
          h2 Add Experience
          p Create an experience to flesh out your listing.
          span.read-more.button.inverse Add