extends _layout

include mixins/activities
include mixins/facilities
include mixins/photos

block css
  link(rel='stylesheet', href='/css/listing.min.css')

block js
  script(type='text/javascript', src='/js/listing.js')

block content
  - var canEdit = authentication && authentication.isAuthenticated
  if canEdit
    div.toolbar
      div
        a.edit(href='/listings/' + listing._id + '/edit') Edit
          i.fa.fa-edit
        a.delete.listing(href='/listings/' + listing._id + '/delete') Delete
          i.fa.fa-trash
  input#record-id(type='hidden', value=listing._id)
  - var banner = (listing.customBanner && 'background-image:url(' + listing.customBanner + ')') || (listing.banner && 'background-image:url(/images/banners/' + listing.banner + ')') || ''
  section.banner(style=banner)
  section.listing-section.overview
    div
      - var logo = listing.logo ? 'background-image:url(/content/' + listing.logo.fileType + '/' + listing.logo.fileId + ');' : null
      - var logoClass = !listing.logo ? 'no-logo' : ''
      div.logo(style=logo, class=logoClass)
      a.location(target='_blank', href='https://google.com/maps/place/' + encodeURIComponent(listing.address))
        span.fa.fa-map-marker
        span= listing.address
      if listing.telephone
        a.telephone(target='_blank', href='tel:' + listing.telephone)
          span.fa.fa-phone
          span= listing.telephone
      if listing.cellphone
        a.cellphone(target='_blank', href='tel:' + listing.cellphone)
          span.fa.fa-mobile
          span= listing.cellphone
      a.email(target='_blank', href='mailto:' + listing.email, title=listing.email)
        span.fa.fa-envelope
        span= listing.email
      - var website = listing.website && listing.website.indexOf('http') >= 0 ? listing.website : 'http://' + listing.website
      a.website(target='_blank', href=website, title=listing.website)= listing.website

      - var socialFacebook = listing.social.facebook ? (listing.social.facebook.indexOf('http') >= 0 ? listing.social.facebook : 'https://' + listing.social.facebook) : null
      - var socialTwitter = listing.social.twitter ? (listing.social.twitter.indexOf('http') >= 0 ? listing.social.twitter : 'https://' + listing.social.twitter) : null
      - var socialGoogle = listing.social.google ? (listing.social.google.indexOf('http') >= 0 ? listing.social.google : 'https://' + listing.social.google) : null
      - var socialInstagram = listing.social.instagram ? (listing.social.instagram.indexOf('http') >= 0 ? listing.social.instagram : 'https://' + listing.social.instagram) : null
      - var socialPinterest = listing.social.pinterest ? (listing.social.pinterest.indexOf('http') >= 0 ? listing.social.pinterest : 'https://' + listing.social.pinterest) : null
      - var socialYoutube = listing.social.youtube ? (listing.social.youtube.indexOf('http') >= 0 ? listing.social.youtube : 'https://' + listing.social.youtube) : null

      if (socialFacebook || socialTwitter || socialGoogle || socialInstagram || socialPinterest || socialYoutube)
        div.social
          if socialFacebook
            a.facebook.fa.fa-facebook(title='Facebook', target=(socialFacebook ? '_blank' : false), href=(socialFacebook ? socialFacebook : false))
          if (socialTwitter)
            a.twitter.fa.fa-twitter(title='Twitter', target=(socialTwitter ? '_blank' : false), href=(socialTwitter ? socialTwitter : false))
          if (socialGoogle)
            a.google.fa.fa-google-plus(title='Google+', target=(socialGoogle ? '_blank' : false), href=(socialGoogle ? socialGoogle : false))
          if (socialInstagram)
            a.instagram.fa.fa-instagram(title='Instagram', target=(socialInstagram ? '_blank' : false), href=(socialInstagram ? socialInstagram : false))
          if (socialPinterest)
            a.pinterest.fa.fa-pinterest-p(title='Pinterest', target=(socialPinterest ? '_blank' : false), href=(socialPinterest ? socialPinterest : false))
          if (socialYoutube)
            a.youtube.fa.fa-youtube-play(title='Youtube', target=(socialYoutube ? '_blank' : false), href=(socialYoutube ? socialYoutube : false))
    div
      h1= listing.name
      != marked(listing.description)
      button.subscribe.button Subscribe
    div
      span.rating
        label Rating Type 
        span.stars
          span.fa.fa-star.color
          span.fa.fa-star.color
          span.fa.fa-star.color
          span.fa.fa-star.color
          span.fa.fa-star
      span.claimed
        span.fa.fa-thumbs-o-up
        span Claimed
      a.add
      a.message
      a.share
  +activities(listing.tags).blue
  +facilities(listing.facilities).alternating
  +photos(listing.photos).alternating
  if activities && activities.length
    section.listing-section.activities.alternating
      div
        h1 Our Experiences
        div
          each activity, index in activities
            a.activity(href='/activities/' + activity._id)
              div.photo
              h2= activity.name
              - var desc = activity.description.length > 100 ? activity.description.substring(0, 100) : activity.description
              p= desc
              span.read-more.button.inverse(href='/activities/' + activity._id) Read More
  //-
    section.listing-section.events
      div.calendar
      div.agenda
        div
          h1
            span.day 04
            span.month July
          ul.activities
            li
              span.fa.fa-dot-circle-o
              h2 Stand Up Paddle Boarding
              ul
                li 2:30pm - 4:30pm
                li 2hr
            li
              span.fa.fa-dot-circle-o
              h2 Marsh Kayak Tour
              ul
                li N/A
            li
              span.fa.fa-dot-circle-o
              h2 Private Boat Tours
              ul
                li 6:30pm - 8:30/9:00pm
                li 2-2.5hr Group Trips (non-private)
  section.listing-section.lower.alternating
    div
      a.report.button.grey(href='/report-listing') Report Listing