extends _layout

include mixins/listing_card
include mixins/listing_card_loading

block css
  link(rel='stylesheet', href='/css/category_listings.min.css')

block content
  section.banner
    header.banner-image(class=search.category)
    div.cover
    div
      - var tags = (search.tags && search.tags.map(t => t.name).join(', ')) || 'Any activity';
      - var distance = (search.distance && `within ${search.distance}km`) || 'any distance';
      - var place = search.location || 'here';
      h2= `${tags}`
      h1= `${distance} from ${place}`
  section.listings
    if nextLink || prevLink
      nav.paging
        if prevLink
          a.button.prev(href=prevLink) Prev
            i.fa.fa-angle-left
        if nextLink
          a.button.next(href=nextLink) Next
            i.fa.fa-angle-right

    +listing_card_loading().template

    if results && results.length
      each result in results
        +listing_card(result, search.listing ? ' from listing' : null)

    if recommended && recommended.length
      div.no-more-data
        h1 Oh no! Seems like you have explored all we have to offer. Why not broaden your horizons and check out some of the following?   
      each r in recommended
        +listing_card(r)

    if nextLink || prevLink
      nav.paging
        if prevLink
          a.button.prev(href=prevLink) Prev
            i.fa.fa-angle-left
        if nextLink
          a.button.next(href=nextLink) Next
            i.fa.fa-angle-right