include avatar

mixin listing_reviews(data, meta)
  if data && data.length
    section.listing-section.icon-cards.fixed-height.latest-reviews&attributes(attributes)
      div
        .scrollable-container.three(data-breakpoints='960:3,959:2')
          a.prev.hidden.fa.fa-angle-left(href='prev-reviews')
          .reviews
            each review in data
              .scrollable
                a.card.review-card(href=review.meta.link.replace("{_id}", review._id), data-listing_id=review.listing._id)
                  +avatar(review.user).icon
                  span=review.user.name
                    label.stars
                      i.fa.fa-star(class=review.rating >= 1 ? 'color' : '')
                      i.fa.fa-star(class=review.rating >= 2 ? 'color' : '')
                      i.fa.fa-star(class=review.rating >= 3 ? 'color' : '')
                      i.fa.fa-star(class=review.rating >= 4 ? 'color' : '')
                      i.fa.fa-star(class=review.rating == 5 ? 'color' : '')
                  p.detail(class=(review.review ? '' : 'no-data'))=(review.review || 'No review.')
            if meta && (meta.count > data.length)
              .scrollable.view-more
                a#all-reviews.card.review-card(href='all', data-listing_id=data[0].listing._id) View More
          a.next.hidden.fa.fa-angle-right(href='next-reviews')