mixin listing_card(listing)
  - var description = listing.description && listing.description.length > 150 ? listing.description.substring(0, 150) + '...' : listing.description;
  - var tags = listing.tags && listing.tags.length ? listing.tags.map(t => t.name) : [];
  - tags = tags.length > 5 ? tags.slice(0, 5).join(', ') + ' + ' + tags.slice(5).length + ' more' : tags.join(', ');
  - var banner = (listing.customBanner && 'background-image:url(/content/thumb/' + listing.customBanner.split('/').slice(2).join('/') + ')') || (listing.banner && 'background-image:url(/images/banners/' + listing.banner + ')') || ''
  - var logo = listing.logo ? 'background-image:url(/content/' + listing.logo.fileType + '/' + listing.logo.fileId + ');' : null
  - var addressParts = listing.formatted_address && listing.formatted_address.split(',');
  - var locality = addressParts ? addressParts[addressParts.length - 3] : null
  - locality = locality || 'Unknown'
  div.listing.card&attributes(attributes)
    span.distance
      if listing.distance
        label=Math.round(listing.distance / 1000)
          if (calculateBearing)
            span.compass
              span.rose(style="transform: rotate(" + calculateBearing(listing.location.coordinates, location) + "deg)")
      span=listing.distance ? 'kms away' : locality
    a(href='/listings/' + listing._id + '/' + makeUrlFriendly(listing.name))
      div.banner(style=banner)
        span.logo(style=logo)
      h3= listing.name
      p
        !=marked(description)
      span.tags= tags